#vending-machine {
    margin: auto;
    width: 60%;
    border: 2px solid black;
}

.products {
    margin: 2px;
    border: 2px solid black;
    width: 60%;
}

.Product {
    font-family: orbitron;
    font-size: large;
    color: red;
}