#vending-machine {
    margin: auto;
    border: 2px solid black;

    .prod {
        margin: 10px;
        border: solid 1px black;
        text-align: center;
        border-radius: 20px;
        height: 118px;
    }
    
    .products, .interface {    
        border: 2px solid black;
        border-radius: 8px;
    }

    .product-return {
        margin: 15px 0;
        border: 2px solid black;
        border-radius: 8px;
        height: 100px;
        text-align: center;
    }

    .cola, .candy, .chips, .carrot, .cheetos, .twizzlers { 
        margin: auto;      
        width: 30px;
        height: 30px;
    }

    .cola { background-image: url("../img/cola.png"); }
    .candy { background-image: url("../img/candy.png"); }
    .chips { background-image: url("../img/chips.png"); }
    .carrot { background-image: url("../img/carrot.png"); }
    .cheetos { background-image: url("../img/cheeto.png"); }
    .twizzlers { background-image: url("../img/twizzlers.png"); }

}

.coins {

}

.Product {
    font-family: orbitron;
    font-size: large;
    color: red;
}

.prod-button {
    width: 30px;
    margin:4px;
    border-radius: 100px;
}

.coin-button {
    width: 45px;
    margin:4px; 
    border-radius: 20px;  
}

.admn-btn {
    width: 95px;
    margin: 4px;
    border-radius: 20px
}

.row.no-pad {   
    margin-right:0;
    margin-left:0;
}

.row.no-pad > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.center {
    margin: 0 auto;
}

.display,
.product-selection,
.admin {
    border: 1px solid black; 
    margin: 10px;
    text-align: center;
    border-radius: 20px;
}

.money {
    border: 2px solid black;
    
    .return {
        margin-top: 2px;
        margin-bottom: 4px;
    }
}

.prod-wrapper {
    margin: 8px;
}

.coin-return {
    width: 85%;
    border-radius: 20px;
    margin: 2px;
}

.product-return-btn {
    width: 97.5%;
    border-radius: 20px;
    margin: 10px;
    height: 76px;
}

.coin-return-btn {
    width: 100%;
    border-radius: 20px;
    margin: 10px;
    height: 68px;
}

.take-change {
    margin: 4px auto;
    height: 82px;
}

.choice {
    border:1px solid grey;
    border-radius: 8px;
}

.prod-col, .int-col {
    padding-top: 15px;
}

.code-display {
    margin: 10px 0;
}

